.about {
    text-align: center;
    display: flex;
    max-width: 50%;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.about p {
    color: #000000;
    margin-bottom: 2em;
}

.about span{
    font-weight: 900;
    text-transform: uppercase;
}

.about a {
    display: block;
    margin-top: 15px;
    padding: 10px 15px;
}